<a href="https://colab.research.google.com/github/Izzan-commits/Praktikum-BasisData/blob/main/Pertemuan_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìò Data Manipulation Language (DML) Bab5

---

## Tugas Awal

## ‚úèÔ∏è 1. Cara Memasukkan Data ke Tabel + Contoh

Untuk memasukkan data ke dalam sebuah tabel digunakan perintah INSERT INTO.
Perintah ini berfungsi menambahkan satu baris data baru ke dalam tabel sesuai kolom yang ditentukan.

Contoh:

```sql
INSERT INTO Mahasiswa (NIM, Nama, Kelas)
VALUES ('12345', 'Budi Santoso', 'TI-1A');
```

Penjelasan:
Perintah di atas menambahkan satu data mahasiswa baru ke tabel Mahasiswa dengan nilai NIM, Nama, dan Kelas sesuai yang ditulis.

<br>

## üóëÔ∏è 2. Cara Menghapus Data dari Tabel + Contoh

Untuk menghapus data dari tabel digunakan perintah DELETE.
Biasanya dilengkapi dengan kondisi WHERE agar hanya data tertentu yang terhapus.

Contoh:
```sql
DELETE FROM Mahasiswa
WHERE NIM = '12345';
```

Penjelasan:
Perintah tersebut menghapus baris data mahasiswa yang memiliki NIM 12345 dari tabel Mahasiswa.

<br>

---

# Rangkuman Materi SQL ‚Äì INSERT, SELECT, UPDATE, DELETE, dan Query dengan Kondisi
---

## 5.3 INSERT TABLE

Pengertian

`INSERT` adalah perintah untuk memasukkan data baru ke dalam tabel yang sudah ada.
Digunakan ketika ingin menambah baris data (record) baru.

Dua Bentuk Umum `INSERT`

## 1. Memasukkan data secara berurutan sesuai struktur tabel

- Tidak menyebutkan nama field

- Harus mengisi seluruh kolom sesuai urutan tabel

## 2. Memasukkan data dengan menyebutkan nama field

- Mengisi kolom tertentu saja

- Urutan field dapat diatur sendiri

### Penjelasan Contoh

Contoh pengisian data mahasiswa menunjukkan format umum:

- Tabel Mahasiswa menerima data: NIM, Nama, dan Alamat

- Data baru ditambahkan sebagai satu baris dalam tabel tersebut

<br>

## 5.4 QUERY SEDERHANA (SELECT)
Fungsi SELECT

Perintah `SELECT` digunakan untuk:

- Menampilkan seluruh data dalam tabel

- Menampilkan kolom tertentu saja

- Menampilkan baris tertentu saja

- Mengurutkan data (ascending atau descending)

<br>


### 5.4.1 Menampilkan Seluruh Data

Jika ingin menampilkan semua isi tabel:

- Digunakan tanda `*` (asterisk) yang berarti ‚Äúsemua kolom‚Äù

- Hasilnya menampilkan semua baris dan semua kolom dalam tabel

#### Penjelasan contoh:
Menampilkan seluruh data pada tabel Mahasiswa.

### Menampilkan Kolom Tertentu

Jika hanya ingin menampilkan beberapa kolom saja:

- Tentukan nama kolom yang ingin ditampilkan

- Hanya kolom tersebut yang akan muncul, kolom lain disembunyikan

#### Penjelasan contoh:
Dari tabel Mahasiswa yang punya kolom NIM, Nama_Mhs, Alamat, hanya menampilkan kolom NIM dan Nama_Mhs.

### Menampilkan Baris Tertentu (Menggunakan WHERE)

Digunakan untuk menampilkan baris yang memenuhi syarat tertentu.

#### Penjelasan contoh:
Menampilkan NIM dan Nama_Mhs untuk mahasiswa yang NIM-nya = 05052652.
Baris lain tidak ikut muncul.

<br>

## 5.5 UPDATE TABLE
Pengertian

`UPDATE` digunakan untuk mengubah atau memperbarui data yang sudah ada dalam tabel.

Hal Penting

- Wajib menggunakan WHERE untuk menentukan baris mana yang diubah

- Jika tanpa WHERE ‚Üí semua baris dalam tabel akan berubah

Penjelasan contoh

Mengubah alamat dan negara dari customer yang memiliki `cust_id = 10002.`
Hanya baris tersebut yang berubah, tidak memengaruhi data lain.

<br>

## 5.6 DELETE DATA
Pengertian

`DELETE` digunakan untuk menghapus baris tertentu dari tabel.

Hal Penting

- Sangat wajib memakai WHERE

- Jika tidak ‚Üí semua data di tabel akan terhapus

Penjelasan contoh

Menghapus baris di tabel Mhs_2 yang memiliki ID = 5.

<br>

## 5.7 QUERY DENGAN KONDISI

Perintah SELECT dapat menggunakan kondisi untuk memilih baris berdasarkan kriteria tertentu.

Format Umum

"Kondisi" biasanya menggunakan operator perbandingan atau logika.

Operator Relasional (Perbandingan)

Digunakan untuk membandingkan nilai, seperti:

- `=` (sama dengan)

- `!=` atau `<>` (tidak sama dengan)

- `>` (lebih besar)

- `<` (lebih kecil)

- `>=` (lebih besar atau sama)

- `<=` (lebih kecil atau sama)

#### Penjelasan contoh 1

Menampilkan data customer yang:

- memiliki ID = 10003
atau

- namanya ‚Äúwascals‚Äù

Jika salah satu kondisi benar, baris ditampilkan.

#### Penjelasan contoh 2

Menampilkan nama barang yang harga ‚â• 20.
Hanya barang dengan harga 20 ke atas yang muncul.

<br>